<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGamePlay" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50180/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGamePlay" contract="ServiceReference.IGamePlay"
                name="BasicHttpBinding_IGamePlay" />
        </client>
    </system.serviceModel>
</configuration>